// Common
@keyframes animateOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Intro
@keyframes movingLetters {
  0% {
    transform: translate3d(0, 15rem, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

// Story
@keyframes showSliderControl {
  from {
    transform: translateX(calc(5rem * var(--move-index))) rotate(calc(0.5turn * var(--move-index)))
  }

  to {
    transform: none;
  }
}

// Rules
@keyframes showRulesItem {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes showRulesItemText {
  from {
    opacity: 0;
    transform: translate3d(1em, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showRulesLinkText {
  from {
    color: transparent;
  }

  80% {
    color: $c-dark;
  }

  to {
    color: $c-dark;
  }
}

@keyframes showRulesLeadText {
  0% {
    color: hsl(262, 34%, 41%);
    transform: translateY(1.5rem);
  }

  30% {
    color: hsl(262, 27%, 53%);
  }

  60% {
    color: hsl(262, 33%, 64%);
  }

  100% {
    color: hsl(0, 0%, 100%);
    transform: translateY(0);
  }
}

// Prizes
@keyframes showPrizeDescription {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

// Game
@keyframes animateNegativeResultLetter {
  0% {
    transform: translateY(-99%);
    animation-timing-function: cubic-bezier(0.88, 0, 1, 1);
  }

  66.7% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.88, 0, 1, 1);
  }

  66.8% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }

  83.29% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }

  100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }
}
