@keyframes movingLetters {
  0% {
    transform: translate3d(0, 15rem, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showRulesItem {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes showRulesItemText {
  from {
    opacity: 0;
    transform: translate3d(1em, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showRulesLinkText {
  from {
    color: transparent;
  }

  80% {
    color: $c-dark;
  }

  to {
    color: $c-dark;
  }
}

@keyframes showRulesLeadText {
  0% {
    color: hsl(262, 34%, 41%);
    transform: translateY(1.5rem);
  }

  30% {
    color: hsl(262, 27%, 53%);
  }

  60% {
    color: hsl(262, 33%, 64%);
  }

  100% {
    color: hsl(0, 0%, 100%);
    transform: translateY(0);
  }
}
